<!DOCTYPE html>
<%+header%>
<% local event_path = uci.get("powquty", "powquty", "powquty_event_path") or "/tmp/powquty_event.log" %>

<html>
	<body>
		<h2>EN50160 Event Log</h2>
			<div id="entable">
				<table style="width:800px">
					<col width="190">
					<col width="550">
					<col width="60">
					<tr>
						<th align="left">Type of event</th>
						<th align="left">Sum of event duration[us] since last week</th>
						<th align="left" title="Green indicates, that an event occured less then 80% of its allowed time, yellow 80% or more. Red indicates a violation of the EN50160 norm">Status</th>
					</tr>
					<tr>
						<td title="Event indicating a voltage dip of 10% - 90% of the reference voltage on the measurment signal."> DIP </td>
						<td><% write (dip_time) %></td>
						<td><input type="text" disabled="true" style="width:50px;background-color:<% write (dip_status) %>;"></td>
					</tr>
					<tr>
						<td title="Event indicating a voltage swell > 110% of the reference voltage on the measurment signal.">SWELL</td>
						<td><% write (swell_time) %></td>
						<td><input type="text" disabled="true" style="width:50px;background-color:<% write (swell_status) %>;"></td>
					</tr>
					<tr>
						<td title="Event indicating a voltage dip < 10% of the reference voltage on the measurment signal.">INTERRUPT</td>
						<td><% write (interrupt_time) %></td>
						<td><input type="text" disabled="true" style="width:50px;background-color:<% write (interrupt_status) %>;"></td>
					</tr>
					<tr>
						<td title="Event indicating that > 5% of the measured values of one specific harmonic are over the defined threshold.">HARMONICS</td>
						<td><% write (harmonics_time) %></td>
						<td><input type="text" disabled="true" style="width:50px;background-color:<% write (harm_status) %>;"></td>
					</tr>
				</table>
			</div>
			<input class="cbi-button cbi-button-apply" type="submit" name="submit" value="<%:Refresh log file %>" onClick=refresh_log() />
			<div style="height:400px;width:800px;overflow:auto;background-color:lightgray;color:black;scrollbar-base-color:gray;font-family:sans-serif;padding:10px;">
				<ul style="list-style-type:none" id="event_list"></ul>
			</div>
		<script>
		//	window.onload = function() {
			function print_list() {
				var i, n;
				var list = document.getElementById('event_list');
//				var text = document.getElementById('event_list');
				var val = "<% write(event_arr) %>";
				document.getElementById("event_list").innerHTML = "";
				if (val == "empty") {
					entry = document.createElement('li');
					entry.appendChild(document.createTextNode("No event so far"));
					list.appendChild(entry);
				} else {
					var elements = val.split(";");
					for (i = 0; i < elements.length - 1; i++) {
						var elem = elements[i].split("_");
						var list_elem = elem[0] + " " + elem[1] + " " + elem[2] + " " + elem[3] + " " + elem[4] + " " + elem[5];
						entry = document.createElement('li');
						entry.appendChild(document.createTextNode(list_elem));
						list.appendChild(entry);
					}
				}
//				text.innerHTML = " "
//				if (val.value != '') {
//					text.innerHTML = val;
//				}
//				event_arr = <% write(event_arr) %>;
//				var list = document.getElementById('event_list');
//				var entry;
//				if (event_arr.length == 0) {
//					entry = document.createElement('li');
//					entry.appendChild(document.createTextNode("No event so far"));
//					list.appendChild(entry);
//				} else {
//					for (i = 0; i < event_arr.length; i++) {
//						entry = document.createElement('li');
//						entry.appendChild(document.createTextNode(event_arr[i]));
//						list.appendChild(entry);
//					}
			}
			window.onload = print_list();

			function refresh_log() {
				location.reload();
			}

			function refresh() {
//				location.reload();
				$("#entable").load("<% write (REQUEST_URI) %>?dip_status=<%=dip_status%>&swell_status=<%=swell_status%>&interrupt_status=<%=interrupt_status%>&harm_status=<%=harm_status%>&interrupt_time=<%=interrupt_time%>&harmonics_time=<%=harmonics_time%>&swell_time=<%=swell_time%>&dip_time=<%=dip_time%>&event_arr=<%=event_arr%>" + " #entable");
			}
			XHR.poll (5, "<% write (REQUEST_URI) %>?dip_status=<%=dip_status%>&swell_status=<%=swell_status%>&interrupt_status=<%=interrupt_status%>&harm_status=<%=harm_status%>&interrupt_time=<%=interrupt_time%>&harmonics_time=<%=harmonics_time%>&swell_time=<%=swell_time%>&dip_time=<%=dip_time%>&event_arr=<%=event_arr%>",
						  null, function (xhr, json) {refresh() } )
			print_list();
		</script>
	</body>
</html>
<%+footer%>
