<!DOCTYPE html>
<% local event_path = uci.get("powquty", "powquty", "powquty_event_path") or "/tmp/powquty_event.log" %>

<html>
	<body>
		<script>
		//	window.onload = function() {
			function print_list() {
				var list = document.getElementById('event_list');
				var entry;
<% local file = io.open(event_path, "r") %>
<% if file ~= nil then %>
	<% io.close(file) %>
	<% for line in io.lines(event_path) do %>
		<% local hostname, uuid, type, lat, lon, ts, usec, start, dur = line:match("([^,]*),([^,]*),([^,]*),([^,]*),([^,]*),([^,]*),([^,]*),([^,]*),([^,]*)") %>
		<% local time = os.date("%Y-%B-%d %H:%M:%S", ts) %>
				entry = document.createElement('li');
				entry.appendChild(document.createTextNode("<% write(time) %> " + "Type: <% write(type) %> " + " Duration: <% write(dur) %>"));
				list.appendChild(entry);
	<% end %>
<% else %>
				entry = document.createElement('li');
				entry.appendChild(document.createTextNode("No Events so far"));
				list.appendChild(entry);
<% end %>
			}
			window.onload = print_list();
		</script>
		<script>
			function refresh() {
//				location.reload();
				$("#entable").load("<% write (REQUEST_URI) %>?dip_status=<%=dip_status%>&swell_status=<%=swell_status%>&interrupt_status=<%=interrupt_status%>&harm_status=<%=harm_status%>&interrupt_time=<%=interrupt_time%>&harmonics_time=<%=harmonics_time%>&swell_time=<%=swell_time%>&dip_time=<%=dip_time%>" + " #entable");
				print_list();
			}
			XHR.poll (20, "<% write (REQUEST_URI) %>?dip_status=<%=dip_status%>&swell_status=<%=swell_status%>&interrupt_status=<%=interrupt_status%>&harm_status=<%=harm_status%>&interrupt_time=<%=interrupt_time%>&harmonics_time=<%=harmonics_time%>&swell_time=<%=swell_time%>&dip_time=<%=dip_time%>",
						  null, function (xhr, json) {refresh() } )
			print_list();
		</script>
		<h2>EN50160 Event Log</h2>
		<div id="entable">
			<table style="width:800px">
				<col width="190">
				<col width="550">
				<col width="60">
				<tr>
					<th align="left">Type of event</th>
					<th align="left">Sum of event duration[us] since last week</th>
					<th align="left" title="Green indicates, that an event occured less then 80% of its allowed time, yellow 80% or more. Red indicates a violation of the EN50160 norm">Status</th>
				</tr>
				<tr>
					<td title="Event indicating a voltage dip of 10% - 90% of the reference voltage on the measurment signal."> DIP </td>
					<td><% write (dip_time) %></td>
					<td><input type="text" disabled="true" style="width:50px;background-color:<% write (dip_status) %>;"></td>
				</tr>
				<tr>
					<td title="Event indicating a voltage swell > 110% of the reference voltage on the measurment signal.">SWELL</td>
					<td><% write (swell_time) %></td>
					<td><input type="text" disabled="true" style="width:50px;background-color:<% write (swell_status) %>;"></td>
				</tr>
				<tr>
					<td title="Event indicating a voltage dip < 10% of the reference voltage on the measurment signal.">INTERRUPT</td>
					<td><% write (interrupt_time) %></td>
					<td><input type="text" disabled="true" style="width:50px;background-color:<% write (interrupt_status) %>;"></td>
				</tr>
				<tr>
					<td title="Event indicating that > 5% of the measured values of one specific harmonic are over the defined threshold.">HARMONICS</td>
					<td><% write (harmonics_time) %></td>
					<td><input type="text" disabled="true" style="width:50px;background-color:<% write (harm_status) %>;"></td>
				</tr>
			</table>
		</div>
		<input class="cbi-button cbi-button-apply" type="submit" name="submit" value="<%:Refresh %>" onClick=refresh() />
		<div style="height:400px;width:800px;overflow:auto;background-color:lightgray;color:black;scrollbar-base-color:gray;font-family:sans-serif;padding:10px;">
			<ul style="list-style-type:none" id="event_list"></ul>
		</div>
	</body>
</html>
<%+footer%>
