config powquty powquty
	option device_tty '/dev/ttyACM0'
	option mqtt_host 'wesense-cloud.es0.eu/'
	option mqtt_topic 'devices/update'
	option mqtt_uname 'username'
	option mqtt_pw 'password'
	option dev_uuid 'BERTUB001'
	option dev_lat '52.520008'
	option dev_lon '13.404954'
	option powquty_path '/tmp/powquty.log'
	option powqutyd_print '1'
	option max_log_size_kb '409600'
	
