config powquty powquty
	option device_tty '/dev/WeSense0'
	option dev_uuid 'my_WeSense'
	option dev_lat '52.520008'
	option dev_lon '13.404954'
	option dev_acc '0'
	option dev_alt '0'
	option powquty_path '/tmp/powquty.log'
	option powquty_event_path '/tmp/powquty_event.log'
	option powqutyd_print '1'
	option max_log_size_kb '409600'
	option use_metadata '0'
	option meta_comment ''
	option meta_id ''
	option meta_operator ''
	option meta_pahse ''
	option meta_reason ''
	option meta_typ ''
	option mqtt_host 'localhost'
	option mqtt_topic 'wesense/my_WeSense'
	option mqtt_uname 'username'
	option mqtt_pw 'password'
	option slack_webhook ''
	option slack_channel '#general'
	option slack_user 'PowQutyEvent'
	option slack_notification '0'

	
